@{
    ViewBag.Title = "Home page";
}
<div>

    <div class="jumbotron">
        <h1>TeaSk</h1>
        <p class="lead">
            TeaSk is a Corporate Training & Consulting site. Our unique approach that takes into account, your technology roadmap, knowledge goals and our unparalleled domain strength makes us your best choice for Learning things.
        </p>
    </div>

    <div class="row"> 
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                We believe in customizing and developing specific skills through a collaborative
                events designed to identify your needs, requirements and objectives.

            </p>
            <p><a class="btn btn-default" href="/account/login">Sync your skills &raquo;</a></p>
        </div>
        <div class="col-md-4"> 
            <h2>Calendar</h2>
            <p>An easy way that makes it easy to add, remove, and update your preferences and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="/home/events">See the calendar &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>What WE offer</h2>
            <p>You can easily find a company event that offers the right mix of good information for your needs.</p>
            <p><a class="btn btn-default" href="/home/events">Learn more &raquo;</a></p>
        </div>
    </div>
</div> 